target
.settings
.classpath
.project

.idea/
*.iml
*.ipr
*.iws
.gradle/
build/
mods/
.idea/libraries
*.DS_Store

*.class

*_blockstore

# Package Files
# *.jar
*.war
*.ear

# IDEA
*.iml
.idea/
.DS_Store
local.*
